body {
    justify-content: center;
    font-family: "Archivo", sans-serif;
}

section {
    padding: 20px;
}

.título {
    text-align: left;
    color: rgb(11, 151, 134);
}
.app-section-sleepiest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f5eef5;
}

.app-content {
    flex: 1;
    padding: 20px;
}

.app-section-ulesson {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #faf5f3;
    flex-direction: row-reverse;
}

.app-section-genesis {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f2f9f8;
}

.app-image {
    flex: 1;
    text-align: center;
}

.app-image img {
    max-width: 100%;
    height: auto;
}

.tags {
    color: #888;
    font-size: 0.9em;
}

.footer {
    text-align: center;
    color: white;
    background-color: black;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
    text-align: left;
}
/* Estilos responsivos */
@media (max-width: 768px) {
    .app-section {
        flex-direction: column;
        text-align: center;
    }

    .app-image {
        order: -1; /* Mueve la imagen arriba en pantallas pequeñas */
    }
}